{% extends 'dashboard/base.html' %}
{% block title %} Home {% endblock title %}

{% block navlink %}
	<a href='{% url "post-detail" view.kwargs.pk %}'>{{ curr_thread|upper}} </a>
{% endblock navlink %}

{% block content %} 
	<div class='home-section'>

		{% for topic in object_list %}
		<div class='post-detail' >
			<div>
				<div class='topic' style=' font-size: x-large; font-weight: 500;  color: #007bff;'>
					{{topic}}
				</div>
				<div class='body' style='margin-top:5px ;	line-height: 40px;white-space: inherit;'>
					{% autoescape off %}
					<a href='{% url "inner-post" topic.pk %}' style='color: #212529; text-decoration: none; color: #212529;'><p style= 'overflow-wrap: anywhere;word-spacing: 5px;line-height: 26pt;margin-top: 5px;'>{{topic.description}}</p>
					</a>
					{% endautoescape %}
				</div>
				<div class='body-end' style='border-top: outset; margin-top: 15px;padding-top: 5px; color:#007bff; float:right'>
					{{topic.created_by}}
				</div>
			</div>
			<div id='voting'>
				
				<i class="fa fa-thumbs-up" id='up' data-vote='upvote' data-id='{{topic.id}}' data-votecount='{{topic.upvotes}}'    style='font-size: x-large;color:#4f7dfa'   ></i>
				<span id='voteCount'>{{topic.upvotes}}</span>
				<i class="fa fa-thumbs-down" id='down' data-vote='downvote' data-id='{{topic.id}}' data-votecount='{{topic.upvotes}}'   style='font-size: x-large;color:#ec567c' ></i>
			</div>
		</div>
			{% endfor %}
	</div>   

	<div style=' margin-left: 80px; margin-top: -50px;'>
		{% if is_paginated %}
			{% if page_obj.has_previous %}
			<a class='btn btn-outline-info mb-4 bg-dark text-white border border-dark ' href='?page=1'>First</a>
			<a class ='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href="?page={{page_obj.previous_page_number}}">&#8249;</a>
			{%endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class='btn btn-info mb-4' href='?page={{num}}' style='background-color:#007bff'>{{num}}</a>
			{% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}   
				<a class='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href='?page={{num}}'>{{num}}</a>
			{% endif %} 
		{% endfor %}

		{% if page_obj.has_next %}
		<a class='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href='?page={{page_obj.next_page_number}}'>&#8250;</a>
			<a class ='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href="?page={{page_obj.paginator.num_pages}}">Last</a>
		{% endif %}
		{% endif %}
	</div>
	<div style='margin-left:44px;'>
		<button type='input' class='btn-hero' ><a href='{% url "delete-thread" view.kwargs.pk %}'>Delete this thread</a></button>
	</div>
	<script>
	var updateBtns = document.getElementsByTagName('i')
	var votecount = document.querySelectorAll('#voteCount') 


	// updating our votes	// changing colour wrt to voteCount
	for (var i = 0; i < updateBtns.length; i++) {  
		updateBtns[i].addEventListener('click', function(){
			var vote = this.dataset.vote 
			var id = this.dataset.id  
			updateVote(id, vote) 
			
		})
	}
	// changing color wrt count 
	for(var i = 0 ; i < votecount.length ; i++)
		if(votecount[i].innerHTML>0)
			votecount[i].style.color='#19d719'  
		else
			votecount[i].style.color='red'

	function updateVote(id, vote){
		const url = '/updateVote/'
		fetch(url, {
			method:'POST',
			headers:{
				"Content-Type":'application/json',
				"X-CSRFToken":csrftoken,
			},
			body:JSON.stringify({'id':id,'votetype':vote})
		})
		.then((response) =>{
			 return response.json()
			})
		.then((message) => {
			console.log(message)
			location.reload()
		})
	}
	
	</script>
{% endblock content %}

{% block creation %}
	<button type='submit' style='padding-top:0px ;margin-left:20px'><a href='{% url "create-post" view.kwargs.pk %}' > Creat a new post </a></button>
	<span  ><h2 style='padding-left:90px'> New Posts </h2></span>
{% endblock creation %}
