{% extends 'dashboard/base.html' %}
{% block title %} Login {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
	<div class='content-selection'>
		<form method='POST'>
			{% csrf_token  %}
				<fieldset class='form-group'>
					<legend class='border-bottom mb-4'>Sign In</legend>
					{{ form|crispy }}
				</fieldset>
				<div class='form-group'>
					<button type='submit' class='btn btn-outline-info text-white bg-dark '>Sign In</button>
				</div>
			</form>
			<div class='border-top pt-3'>
				<small class='text-black'>Don't have an account?<a href='{% url "register" %}' style='color:black; padding-left:5px;font-weight: 900	'>Sign Up</a> </small>
			</div>
	</div>
{% endblock content %}