
{% extends 'dashboard/base.html' %}
{% block title %} Home {% endblock title %}

{% block creation %}
		<button type='submit' style='padding-top:0px ;margin-left:20px'><a href='{% url "create-thread" %}' > Creat a new Thread </a></button>
		<span  ><h2 style='padding-left:90px'> New Posts </h2></span>
{% endblock creation %}
{% block content %} 

<form method='GET'>
<input type="text" style='width:300px;border: groove;height: 38px;' name='thread-name' value='{{thread_name}}'/>
<input type='submit'  class="submit-btn btn-hero" value='Search' style='margin-left:10px'>
</form>

<div class='home-section'>

	{% for t in threads %}
		<div class='home-thread '>
			<div class='title' >
				<div  >
					<a href="{% url 'post-detail' t.pk %}" style='color: #f8f9fa;text-decoration: none;font-size: 30px;padding:14px;text-decoration: underline;'>{{t}}</a>
				</div>
				<div style=' padding:14px;color: #f8f9fa;'>
					Posts: {{t.total_posts}} | Views: {{t.total_views}}
				</div>
			</div>
			<div style='    padding-left: 20px;color: #f8f9fa; margin-top: 10px;font-weight: 100;' >	
				<div>
					{{t.description}}
				</div>
				<div style='margin-bottom:0px;float:right;margin-right:10px;color: #f8f9fa; ' >
					{{t.created_by}}
					{{t.created_on | date:"F d, Y"}}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<div style=' margin-left: 20px;'>
	{% if is_paginated %}
		{% if page_obj.has_previous %}
		<a class='btn btn-outline-info mb-4 bg-dark text-white border border-dark ' href='?page=1'>First</a>
		<a class ='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href="?page={{page_obj.previous_page_number}}">&#8249;</a>
		{%endif %}

	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<a class='btn btn-info mb-4' href='?page={{num}}' style='background-color:#007bff'>{{num}}</a>
		{% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}   
			<a class='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href='?page={{num}}'>{{num}}</a>
		{% endif %} 
	{% endfor %}

	{% if page_obj.has_next %}
	<a class='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href='?page={{page_obj.next_page_number}}'>&#8250;</a>
		<a class ='btn btn-outline-info mb-4 bg-dark text-white border border-dark' href="?page={{page_obj.paginator.num_pages}}">Last</a>
	{% endif %}
	{% endif %}
</div>
{% endblock content %}